
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

/*
h1 {
    text-align: center;
}
*/

h2 {
    text-align: center;
}


.navbar ul{
    background-color: gray;
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}


.navbar span a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 20px;
}


.navbar span a:hover {
    background-color: lightgray;
}


table { 
    width: 100%;
}


table th,
table td {
    padding: 15px;
    background-color: #ffffff;
    border: 1px solid #ddd;
}


/*form {
    
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
*/

/*
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px; /*kdyz nebude zakomentovan form{} bude 100%
}
*/

.box {
    background-color: #ffffff;
    border: 1px solid #ddd;
    padding: 30px;
    margin-bottom: 20px;
    width: 400px; /*kdyz nebude zakomentovan form{} bude 100%*/
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}


label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
    text-align: center;
}


input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


input[type="checkbox"] {
    width: auto;
}


input[type="submit"] {
    width: 100%;
    margin-bottom: 20px;
    cursor: pointer;
}

input[name="logout"] {
    width: 460px;
    background-color: red;
    cursor: pointer;
}

input[name="admin_btn"] {
    width: 460px;
    cursor: pointer;
}



input[name="change_btn"] {
    width: 100%;
    cursor: pointer;
}


input[name="detail_btn"] {
    width: 100%;
    height: 100%;
    cursor: pointer;
    
}

.product {
    
    margin-bottom: 20px;
    padding: 20px;
    
    
}

.product-container {
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 0 auto;
    padding: 20px;

    
}



i {
    color: #ff6666;
}